
tr td {
  border: 1px solid gray;
  padding:25px;
}

caption{
  font-size: 20px;
}

th{
  background-color: black;
  color:white;
}

#day, #done{
  width: 5%;
}

#duration {
  width:10%;
}

#summary{
 width:80%
}
